.searchBar{
    height: 50px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.searchInput {
    height: 50px;
    width: 40%;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
}

.searchPage {
    margin-top: 40px;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 35% 65%;
    grid-auto-rows: 33.33%;
    grid-gap: 15px;
    grid-template-areas: 
        "map shw"
        "idx shw"
        "idx shw";
}

.map {
    grid-area: map;
}

.eventIndex {
    grid-area: idx;
}

.eventShow {
    grid-area: shw;
    
}