/* .titleDiv {
    color: white;
    height: 100px;
    background-repeat: no-repeat;
    
} */

.titleContainer {
    grid-area: ttl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.searchBar{
    height: 36px;
    /* width: 600px; */
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.searchInput {
    height: 40px;
    width: 70%;
    text-align: center;
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    color: white;
    outline: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid white;
}

.searchBar:active {
    outline: none;
}

.submit {
    display: none;
}

.searchPage {
    display: grid;
    width: 100%;
    height: 100vh;
    color: white;
    grid-template-columns: 32.5% 62.5%;
    grid-template-rows: 1.5fr 1.4fr 3fr 3fr;
    grid-row-gap: 10px;
    grid-template-areas: 
        "ttl ttl"
        "map shw"
        "idx shw"
        "idx shw";
}


.map {
    /* grid-area: map; */
    padding-left: 30px;
    grid-row-start: 2;
    grid-column-start: 1;
    margin-top: 25px;
    height: 75%;
    width: 100%;
    overflow: auto;
    /* width: 100%; */
}

.eventIndex {
    grid-area: idx;
    grid-row-start: 3;
    padding-left: 30px;
    overflow: auto;
    /* margin-top: -250px; */
}

.eventShow {
    grid-area: shw;
    margin-left: 20px;
    width: 100%;
    
}

.indexSearchContainer {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-area: map;
    /* background-color: #7f5a83;
    background-image: linear-gradient(280deg,  #80088d  0%, #032842 74%); */
}

form {
    height: 50px;
}

form > input {
    margin: 0;
}