.searchBar{
    height: 50px;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    
}
.searchInput {
    height: 50px;
    width: 60%;
    text-align: center;
    font-size: 30px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    color: white;
}

.searchPage {
    margin-top: 40px;
    display: grid;
    width: 100%;
    height: 100vh;
    color: white;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    grid-template-areas: 
        "map shw"
        "idx shw"
        "idx shw";
    overflow: auto;
}

.map {
    /* grid-area: map; */
    padding-left: 30px;
    /* width: 100%; */
}

.eventIndex {
    grid-area: idx;
    padding-left: 30px;
}

.eventShow {
    grid-area: shw;
    margin-left: 20px;
    
}

.indexSearchContainer {
    width: 100%;
    /* background-color: #7f5a83;
    background-image: linear-gradient(280deg,  #80088d  0%, #032842 74%); */
}