.eventIdxItem {
    background-color: rgba(169, 169, 169, 0);
    width: 95%;
    font-size: 20px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
    text-align: left;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
}

.eventIdxItem:hover {
    border: 1px solid black;
    background-color: rgb(1, 26, 105);
    cursor: pointer;
}

.eventItemContainer {
    overflow: auto;
    height: 80%;
}