.eventIdxItem {
    background-color: rgba(169, 169, 169, 0);
    width: 95%;
    font-size: 20px;
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 0px;
    text-align: left;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.eventIdxItem:hover {
    border-bottom: 1px solid white;
    background-color: rgb(1, 26, 105);
    cursor: pointer;
}

.eventItemContainer {
    overflow: auto;
    height: 80%;
}

.eventName {
    width: 75%;
    overflow-x: scroll;
    overflow: hidden;
    margin-right: 10px;
    line-height: 1.2;
}

.date {
    width: 25%
}