.wrapper {
    display: flex;
    /* justify-content: center; */

}

.navContainer {
    display: flex;
}

.off{
    display: absolute;
    top: 50px;
    left: 50px;
    background: white;
    height: 500px;
    width: 500px;
}

.userSplash {
    overflow: scroll;
    height: 95vh;
}