.greetingDiv {
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin-left: 40px;
    /* margin-top: 10px; */
    color: white;
    line-height: 1.5;
    max-height: 180px;
}
.profile{
    display: flex;
    justify-content: space-between;
    /* border: 3px solid lightseagreen; */
    width: 94vw;
    height: 99vh;
}

.userGreeting {
    font-size: 36px;
    position: absolute;
    top: 0;
    margin-left: 30vw;
    /* right: 40vw; */
}
.userevents{
    /* border: 1px solid red; */
    height: 100%;
    margin-top: 40px;
}
.userMessage {
    /* padding-top: 20px; */
    font-size: 36px; 
    text-align: center;
}

.userSplash {
    /* margin-top: 25px; */
    overflow: auto;
    width: 28vw;
    height:89vh;
    /* height:100%; */
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 15px;
}

.userEventItem {
    overflow: auto;
    margin-right: 1px;

}

.eventDiv {
    line-height: 1.5;
    padding-top: 25px;
    overflow: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.trackContainer {
    margin: 0px;
    padding:0px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.addSong {
    width: 200px;
    font-size: 24px;
    background-color: #23232C;
    color: #FF416C;
    border: 1px solid #23232C;
}
.addSong:hover {
    background-color: #725AC1;
    cursor: pointer;
}

.eventDiv:hover {
    background-color: rgba(255, 65, 109, 0.637);
    cursor: pointer;
}

.notSelected {
    color: white;
    font-size: 36px;
    /* position: absolute; */
    margin-top: 30px;
}

.eventItemArtist {
    font-size: 36px;
    padding-left: 10px;
    text-align: center;
    text-decoration: underline;

}

.eventItemVenue {
    font-size: 24px;
    padding-left: 10px;
    margin-left: 10%;
}

.eventItemAddress {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10%;

}

.eventItemDate {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10%;
}


.deezerContainer {
    overflow: auto;
    /* height: 400px; */
    min-height: 100px;
}
.deezer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* overflow: auto; */
    height: 95vh;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border: 1px solid red; */
}

.deezerTrack {
    padding: 0px;
}

.setlistTitle {
    color: white;
    font-size: 36px;
    display: none;
    padding-top: 15px;
    margin-bottom: 10px;
}

.line {
    padding-top: 40px;
    width: 75%;
    border-bottom: 1px solid rgba(255, 65, 109, 0.637);
    margin-left: 12.5%;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

 #load {
    position: absolute;
    display: none;
    top: 0px;
    left: 100px;
    height: 100%;
    background: radial-gradient(circle at bottom, #000033 0%, #090a0f 100%);
    overflow: hidden;
    height: 100vh;
    width: 100%;
    z-index: 500;
}  

.record {
    position: absolute;
    display: block;
    top: 45vh;
    left: 45vw;
    height: 100%;
    width: 100%;
    z-index: 502;
    background-image: url('https://i.ibb.co/kXgtxsC/286.gif');
    background-repeat: no-repeat;
    background-size: 100px;
}