.greetingDiv {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    color: white;
    width: 30vw;
    /* font-family: 'Alef', sans-serif; */
    line-height: 1.5;
    /* position: absolute; */
    padding: 15px;
    padding-bottom: 0;
    max-height: 180px;
}

.userGreeting {
    font-size: 36px;
}

.userMessage {
    padding-top: 20px;
    font-size: 36px; 
    text-align: center;
}

.userSplash {
    margin-top: 25px;
    overflow: scroll;
    width: 28vw;
    height:95vh;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 15px;
    /* box-shadow: 0px 0px 2px 0px grey; */
}

.userEventItem {
    color: white;
    overflow: scroll;
    width: inherit;
    position: relative;
    margin-bottom: 45px;
}

.eventDiv {
    line-height: 1.5;
    /* font-family: 'Alef', sans-serif; */
    padding-top: 25px;
    /* border-top-right-radius:10px;
    border-bottom-left-radius:10px; */
    background-color: rgba(169, 169, 169, 0);
    /* border-bottom: 1px solid white; */
    /* border-bottom: 1px solid white; */
    overflow: auto;
    width: inherit;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.eventDiv:hover {
    background-color: rgba(255, 65, 109, 0.637);
    cursor: pointer;
    /* box-shadow: 1px 1px 1px white; */
}

.eventItemArtist {
    font-size: 36px;
    padding-left: 10px;
    text-align: center;
    text-decoration: underline;

}

.eventItemVenue {
    font-size: 24px;
    padding-left: 10px;
    margin-left: 10%;
}

.eventItemAddress {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10%;

}

.eventItemDate {
    font-size: 16px;
    padding-left: 10px;
    margin-left: 10%;
}

.deezer {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    height: 95vh;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-content: center;
    margin-left: 200px;
    margin-top: 120px;
}

.deezerTrack {
    padding: 5px;
    align-self: center;
}

.setlistTitle {
    color: white;
    font-size: 36px;
    display: none;
    padding-top: 15px;
}

.line {
    padding-top: 40px;
    width: 75%;
    border-bottom: 1px solid rgba(255, 65, 109, 0.637);
    margin-left: 12.5%;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.deezerContainer {
    padding: 25px;
}