.aboutContainer {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.aboutUs {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "ti ap"
    "am ap"
    "aj ap"
    "ak ap"
    "ab ap"
    "x y";
  overflow: auto;
}
.team {
  grid-area: ti;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
.aboutMatt {
  grid-area: am;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.2;
}

.aboutJon {
  grid-area: aj;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.2;
  text-align: right;

}

.aboutKit {
  grid-area: ak;
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  width: 100%;
}

.aboutBarrett {
  grid-area: ab;
  display: flex;
  justify-content: space-between;
  width: 100%;
  line-height: 1.2;
  text-align: right;

}

.aboutProject {
  grid-area: ap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 325px;
}

.aboutTitle {
  font-size: 30px;
  /* margin-top: 20px; */
  /* margin-bottom: 10px; */
}

.textDiv {
  width: 65%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.title {
  height: 20%;
  width: 100%;
  font-size: 28px;
  /* padding: 10px; */
}

.description {
  height: 70%;
  width: 100%;
  font-size: 18px;
  /* padding: 10px; */
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  margin-left: 1.6vw;
}
.iconlink {
    width: 80%;
    /* display: flex; */
    
}
  
.aboutText {
    line-height: 1.2;

}
  
.aboutPhoto {
/* height: auto; */
  width: 10vw;
  overflow: none;
  border: 3px solid #725ac1;
  border-radius: 15px;
}
  
.imgDiv {
  margin-left: 2vw;
  width: 10vw;
  height: 100%;
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;

}
.imgDivleft {
  margin-right: .5vw;
  width: 10vw;
  height: 100%;
  object-fit: scale-down;
  display: flex;
  align-items: center;
  justify-content: center;

}
.svg {
  fill: #725ac1;
  margin: 2px;
  width: 100%;
  height: auto;
}
