.navBar {
    display: flex;
    position: static;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    width: 100px;
    height: 100vh;
    background-color:rgb(1, 26, 105);
    text-decoration: none;
    border-right: 1px white;
    /* box-shadow: 2px 0px 1px white; */
}

.logoutButton {
    background-image: url('./icons/exit.jpeg');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    justify-self: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 8px;
    /* text-decoration: none;
    border: 2px solid orange;
    height: 54px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    background-color: #0d324d ;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px; */
}

.logoutButton:hover {
    /* background-color: #7f5a83;
    transition: 0.5s; */
    cursor: pointer;
}

.splashLink {
    background-image: url('./icons/music_md_logo.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    justify-self: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.profileLink {
    background-image: url('./icons/profile.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    justify-self: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.aboutLink {
    background-image: url('./icons/profile.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    justify-self: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
/* .navLink{
    text-decoration: none;
    border: 2px solid orange;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    background-color: #0d324d ;
    font-family: Tahoma, Geneva, sans-serif;
} */

/* .navLink:hover{
    background-color: #7f5a83;
    transition: 0.5s;
} */

.gitIcon {
    background-image: url('./icons/git_icon.png');
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    justify-self: center;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.iconName {
    justify-content: center;
    align-items: center;
    color: white;
    /* font-family: Tahoma, Geneva, sans-serif; */
    font-size: 16px;
    align-self: center;
}

.navIcon {
    justify-content: center;
    align-items: center;
    color: white;
    /* font-family: Tahoma, Geneva, sans-serif; */
    font-size: 16px;
    align-self: center;
    margin-top: 5px;
}

.linkedInIcon {
    background-image: url('./icons/linkedin-icon.png');
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    justify-self: center;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 5px;
}

