.navBar {
    display: flex;
    position: static;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color:#021f35;
    box-shadow: 4px 0 black;
    border-right: 1px solid rgb(0, 0, 24);
}

.logoutButton {
    font-family: 'Acme', sans-serif;
    width: 75px;
}

.musicMD {
    font-family: 'Acme', sans-serif;
}